@{
    ViewBag.PositionName = ((PJ_CWN019.TM.Web.Models.Providers.CwnMembershipUser)Membership.GetUser()).PositionName;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon_cwn.png")" />

     <link href='@Url.Content("~/Scripts/bootstrap-3.1.1/dist/css/bootstrap.min.css")' rel="stylesheet" />

     @Styles.Render("~/Content/css/extjs")
     @Styles.Render("~/Content/css")

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div id="header">
        <div class="topr">
            <div class="logoleft">
                <img src="@Url.Content("~/Content/Images/logo_cwn.png")" />
            </div>
        </div>
        <div class="logoright">
            <table border="0">
                <tr>
                    <td>
                        <table border="0">
                            <tr>
                                <td>
                                    @if(Request.IsAuthenticated){
                                    <span style="vertical-align: top; color: Black;"><i class="glyphicon glyphicon-user"></i>:&nbsp;@Membership.GetUser().UserName</span>
                                    <span style="vertical-align: top; color: Black;">|<strong>&nbsp;Position</strong>:&nbsp;@ViewBag.PositionName</span>
                                    <span style="vertical-align: top; color: Black;">|<strong>&nbsp;Last&nbsp;Login</strong>:&nbsp;@Membership.GetUser().LastLoginDate.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "log-off", id = "logOffForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logOffForm').submit()" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-log-out"></i>&nbsp;Logout</a> 
                                    }
                                    <span style="padding-left: 5px;"></span>
                                        ViewBag.PaddingTop = "15px";
                                    }
                                </td>
                            </tr>
                            <tr class="trValignBaseline">
                                <td class="trAlignRight" style="padding-top: @ViewBag.PaddingTop; float: right;">
                                        <span style="color:#AC7C01;">*พบปัญหาการใช้งาน ติดต่อ Service Desk โทร 02-697-0999  ภายใน 1999 หรือ <a href="mailto:servicedeskcwn@chanwanich.com" target="_top">servicedeskcwn@chanwanich.com</a></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                    <td style="width: auto;"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
           
        </div>
    </div>

    @RenderBody()

    @Html.Partial("_Footer")

    @RenderSection("scripts", required: false)
</body>
</html>
