@model PJ_CWN019.TM.Web.Models.ChangePasswordView

@{
    Layout = "~/Views/Shared/_LayoutChangePassword.cshtml";
    ViewBag.Title = "Fource to Change Password";
}

<style>
    .form-signin {
      max-width: 350px;
      padding: 15px;
      margin: 0 auto;
    }

</style>
<div id="content-main-loading">
<div class="container">
    @using (Html.BeginForm("ChangePassword", "Account", 
        new { 
        ReturnUrl = ViewBag.ReturnUrl,
        isFourceToChange = true,
    }, FormMethod.Post, new
    {
        id = "changePasswordForm",
        @class = "form-signin",
        role = "form"
    }))
    {
        @Html.ValidationSummary(true, "", new { @class = "required" })

        <h2>กรุณาเปลี่ยนรหัสเข้าระบบ</h2>

        @Html.PasswordFor(m => m.NewPassword, new { 
           @class = "form-control", 
           placeholder = "รหัสเข้าระบบใหม่ / New Password", 
           required="",
           autofocus="",
           value = Model.NewPassword
       })

        @Html.PasswordFor(m => m.ConfirmNewPassword, new { 
           @class = "form-control", 
           placeholder = "ยืนยันรหัสเข้าระบบใหม่ / Confirm Password", 
           required="",
           value = Model.ConfirmNewPassword
       })
        @Html.HiddenFor(m => m.OldPassword)

        @Html.AntiForgeryToken()
        <a class="btn btn-lg btn-info btn-block" href="javascript:document.getElementById('changePasswordForm').submit()" class="k-button"><i class="glyphicon glyphicon-lock"></i>&nbsp;OK</a>
    }
</div>
<div style="height:100px;"></div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#ConfirmNewPassword').keypress(function (e) {
                if (e.keyCode === 13) {
                    document.getElementById('changePasswordForm').submit();
                }
            });
        });
    </script>
}